<h2>Directors Desk</h2>
<hr>
<div>

	<div class="list-group-item disabled">
		<h4 class="list-group-item-heading"> 
		Set Items
		</h4>
	</div>

	<ng-container *ngFor="let o of drpo">
		<div class="list-group-item" *ngIf="o.options.ctrl == true">
			<h4 class="list-group-item-heading">
				<span class="glyphicon glyphicon-picture"></span>
				{{o.title}} <small>({{o.options.toggled}})</small>
			</h4>
			<input type="checkbox" [attr.name]="o.uid" [attr.id]="o.uid" [attr.checked]="o.options.toggled">
		</div>
	</ng-container>
	
	<!--
	<div class="list-group-item disabled">
		<h4 class="list-group-item-heading"> 
		Personen
		</h4>
	</div>

	<div class="list-group-item">
		<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-user"></span> Julia <small>(Flying)</small></h4>

    <a href="#" class="label label-default">Test</a>
    <a href="#" class="label label-default">Test</a>
    <a href="#" class="label label-default">Die</a>
    <a href="#" class="label label-default">Talk</a>
    <a href="#" class="label label-default">Test</a>
    <a href="#" class="label label-default">Harlem Shake</a>
    <a href="#" class="label label-default">Test</a>
    <a href="#" class="label label-default">Test</a>
    <a href="#" class="label label-default">Fly</a>
    <a href="#" class="label label-default">Test</a>
    <a href="#" class="label label-default">Cry</a>
	</div>

	<div class="list-group-item">
		<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-user"></span> Romeo <small>(standby)</small></h4>
    <p class="list-group-item-text">...</p>
	</div>

	<div class="list-group-item disabled">
		<h4 class="list-group-item-heading"> 
		Licht
		</h4>
	</div>

	<div class="list-group-item">
		<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-record"></span> Spot <small>(off)</small></h4>
    <p class="list-group-item-text">...</p>
	</div>

	<div class="list-group-item">
		<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-lamp"></span> Ambient Light <small>(on)</small></h4>
    <p class="list-group-item-text">...</p>
	</div>

	<div class="list-group-item disabled">
		<h4 class="list-group-item-heading"> 
		Kamera
		</h4>
	</div>

	<div class="list-group-item">
		<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-facetime-video"></span> Kamera 1 <small>(active)</small></h4>
    <p class="list-group-item-text">...</p>
	</div>

	<div class="list-group-item disabled">
		<h4 class="list-group-item-heading"> 
		Requisiten
		</h4>
	</div>

	<div class="list-group-item">
		<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-tree-deciduous"></span> Baum</h4>
    <p class="list-group-item-text">...</p>
	</div>

	<div class="list-group-item">
		<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-tree-deciduous"></span> Balkon</h4>
    <p class="list-group-item-text">...</p>
	</div>
	-->
</div>