<h2>Directors Desk</h2>
<hr>
<div>

	<div class="list-group-item disabled">
		<h4 class="list-group-item-heading"> 
		Characters
		</h4>
	</div> 

	<ng-container *ngFor="let char of characters">
		<div class="list-group-item" *ngIf="char.options.ctrl == true">
			<h4 class="list-group-item-heading">
				<span class="glyphicon glyphicon-user"></span>
				{{char.name}} 
				<small>
					<input 	style="display: inline;" 
									type="checkbox" 
									[attr.name]="char.uid" 
									[attr.id]="char.uid" 
									[checked]="char.options.toggled" 
									(change)="char.options.toggled = !char.options.toggled">
				</small>

				<ul>
					<ng-container *ngFor="let f of char.figures">
							<li>
								<label>
									{{ f.title }} 
									<input 	style="display: inline;" 
													type="radio" 
													[attr.name]="char.uid+'figure'"
													[value]="f.id" 
													(change)="f.active = !f.active"
													[checked]="f.active"
									>
								</label>
							</li>
					</ng-container>
				</ul>
			</h4>
			</div>
	</ng-container>

	<div class="list-group-item disabled">
		<h4 class="list-group-item-heading"> 
		Sounds
		</h4>
	</div>
	<div class="list-group-item">
		<ol>
				<ng-container *ngFor="let s of sounds">
					<span 	class="badge badge-pill badge-default"
									(click)="playSound(s.src)"
					>{{s.title}}</span>			
				</ng-container>
			</ol>	
	</div>

	<div class="list-group-item disabled">
		<h4 class="list-group-item-heading"> 
		Set Items
		</h4>
	</div>

	<ng-container *ngFor="let o of drpo">
		<div class="list-group-item" *ngIf="o.options.ctrl == true">
			<h4 class="list-group-item-heading">
				<ng-container [ngSwitch]="o.type">	
					<span 	*ngSwitchDefault 
									class="glyphicon glyphicon-picture"></span>
					<span 	*ngSwitchCase="'camera'" 
									class="glyphicon glyphicon-facetime-video"></span>
					<span 	*ngSwitchCase="'light'" 
									class="glyphicon glyphicon-lamp"></span>  
				</ng-container>
				{{o.title}} 
				<small>
					<input 	style="display: inline;" 
									type="checkbox" 
									[attr.name]="o.uid" 
									[attr.id]="o.uid" 
									[checked]="o.options.toggled" 
									(change)="o.options.toggled = !o.options.toggled">

					<input 	*ngIf="o.type == 'camera'"
									style="display: inline;" 
									type="radio" 
									name="cameraSwitch" 
									[attr.value]="o.uid" 
									(change)="o.options.active = !o.options.active"
									[attr.checked]="o.options.active" >
				</small>
				

				<ng-container *ngIf="o.type == 'light'">
						<input 	[attr.id]="o.uid+'-range'"
										type="range" 
										min="0" 
										max="5" 
										step="0.25"
										[value]="o.light.intensity"
										(change)="o.light.intensity = $event.target.value">

						<label style="color: #ffffff; background-color: lightgrey;">W <input 	style="display: inline;" 
										type="radio" 
										[attr.name]="o.uid+'-color'"
										value="#ffffff" 
										(change)="o.light.color = $event.target.value"></label>

						<label style="color: #ffe162; background-color: lightgrey;">Y <input 	style="display: inline;" 
										type="radio" 
										[attr.name]="o.uid+'-color'"
										value="#ffe162" 
										(change)="o.light.color = $event.target.value"></label>

						<label style="color: #df1a42; background-color: lightgrey;">R <input 	style="display: inline;" 
										type="radio" 
										[attr.name]="o.uid+'-color'"
										value="#df1a42" 
										(change)="o.light.color = $event.target.value"></label>

						<label style="color: #010B65; background-color: lightgrey;">B <input 	style="display: inline;" 
										type="radio" 
										[attr.name]="o.uid+'-color'"
										value="#010B65" 
										(change)="o.light.color = $event.target.value"></label>

						<label style="color: #6bfe00; background-color: lightgrey;">G <input 	style="display: inline;" 
										type="radio" 
										[attr.name]="o.uid+'-color'"
										value="#6bfe00" 
										(change)="o.light.color = $event.target.value"></label>
				</ng-container>

				<ng-container *ngIf="o.animation != null">
						<ol *ngFor="let a of o.animation">
								<label>{{a.title}} <input 	style="display: inline;" 
									type="checkbox" 
									[attr.name]="o.uid+'-'+a.title" 
									[attr.id]="o.uid+'-'+a.title" 
									[checked]="a.state" 
									(change)="a.state = !a.state"></label>	
						</ol>
				</ng-container>

			</h4>
			</div>
	</ng-container>
	
	<!--
	<div class="list-group-item disabled">
		<h4 class="list-group-item-heading"> 
		Personen
		</h4>
	</div>

	<div class="list-group-item">
		<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-user"></span> Julia <small>(Flying)</small></h4>

    <a href="#" class="label label-default">Test</a>
    <a href="#" class="label label-default">Test</a>
    <a href="#" class="label label-default">Die</a>
    <a href="#" class="label label-default">Talk</a>
    <a href="#" class="label label-default">Test</a>
    <a href="#" class="label label-default">Harlem Shake</a>
    <a href="#" class="label label-default">Test</a>
    <a href="#" class="label label-default">Test</a>
    <a href="#" class="label label-default">Fly</a>
    <a href="#" class="label label-default">Test</a>
    <a href="#" class="label label-default">Cry</a>
	</div>

	<div class="list-group-item">
		<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-user"></span> Romeo <small>(standby)</small></h4>
    <p class="list-group-item-text">...</p>
	</div>

	<div class="list-group-item disabled">
		<h4 class="list-group-item-heading"> 
		Licht
		</h4>
	</div>

	<div class="list-group-item">
		<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-record"></span> Spot <small>(off)</small></h4>
    <p class="list-group-item-text">...</p>
	</div>

	<div class="list-group-item">
		<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-lamp"></span> Ambient Light <small>(on)</small></h4>
    <p class="list-group-item-text">...</p>
	</div>

	<div class="list-group-item disabled">
		<h4 class="list-group-item-heading"> 
		Kamera
		</h4>
	</div>

	<div class="list-group-item">
		<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-facetime-video"></span> Kamera 1 <small>(active)</small></h4>
    <p class="list-group-item-text">...</p>
	</div>

	<div class="list-group-item disabled">
		<h4 class="list-group-item-heading"> 
		Requisiten
		</h4>
	</div>

	<div class="list-group-item">
		<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-tree-deciduous"></span> Baum</h4>
    <p class="list-group-item-text">...</p>
	</div>

	<div class="list-group-item">
		<h4 class="list-group-item-heading"><span class="glyphicon glyphicon-tree-deciduous"></span> Balkon</h4>
    <p class="list-group-item-text">...</p>
	</div>
	-->
</div>