<h2>Scene Title</h2>
<hr>
  <a-scene embedded id="scene" style="height: 100%;" #one>
    <a-assets> 
        <ng-container *ngFor="let o of drpo">
          <ng-container *ngIf="o.options.toggled == true">
            <img *ngIf="o.appearance.material" 
                  [id]="o.uid+'-mtl'" [attr.src]="'../../assets/'+o.appearance.material">
          </ng-container>   
        </ng-container>
        <!--Balkon-->
         <!--Balkon-Objekt-->     <a-asset-item id="balkon-obj" src="../../assets/objects/Balkon/balkon.obj"></a-asset-item>
         <!--Balkon-Material-->   <a-asset-item id="balkon-mtl" src="../../assets/objects/Balkon/balkon.mtl"></a-asset-item>      
         <!--Stuehle-Objekt-->    <a-asset-item id="sitze-obj" src="../../assets/objects/Sitze/Stuhl.obj"></a-asset-item>
         <!--Stuehle-Material-->  <a-asset-item id="sitze-mtl" src="../../assets/objects/Sitze/Stuhl.mtl"></a-asset-item>
         <!--Romeo-Objekt-->      <a-asset-item id="romeo-obj" src="../../assets/objects/Romeo/romeo.obj"></a-asset-item>
         <!--Romeo-Material-->    <a-asset-item id="romeo-mtl" src="../../assets/objects/Romeo/romeo.mtl"></a-asset-item>
         <!--RomeoArm-Objekt-->   <a-asset-item id="romeoarm-obj" src="../../assets/objects/Romeo/romeoleftarm.obj"></a-asset-item>
         <!--RomeoArm-Material--> <a-asset-item id="romeoarm-mtl" src="../../assets/objects/Romeo/romeoleftarm.mtl"></a-asset-item>
         <!--Romeoleg-Objekt-->   <a-asset-item id="romeoleg-obj" src="../../assets/objects/Romeo/romeoleftleg.obj"></a-asset-item>
         <!--Romeoleg-Material--> <a-asset-item id="romeoleg-mtl" src="../../assets/objects/Romeo/romeoleftleg.mtl"></a-asset-item>
         <!--Romeobody-Objekt-->  <a-asset-item id="romeobody-obj" src="../../assets/objects/Romeo/romeo-body.obj"></a-asset-item>
         <!--Romeobody-Material--><a-asset-item id="romeobody-mtl" src="../../assets/objects/Romeo/romeo-body.mtl"></a-asset-item>
         <!--Julia-Objekt-->      <a-asset-item id="julia-obj" src="../../assets/objects/Julia/julia.obj"></a-asset-item>
         <!--Julia-Material-->    <a-asset-item id="julia-mtl" src="../../assets/objects/Julia/julia.mtl"></a-asset-item>
         <!--Vorhand-IMG-->       <img id="curtain" src="../../assets/materials/curtain.jpg">
         <!--Buehnenhintergrund--><img id="background" src="../../assets/materials/background.png">
         <!--Applause-Sound-->     <audio id="ApplauseSound" src="../../assets/sound/Applause/crowd_applause.mp3"></audio>
         <!--LowApplause-Sound-->  <audio id="LowApplauseSound" src="../../assets/sound/Applause/hand_claps.mp3"></audio>       
         <!--Boo-Sound-->          <audio id="BooSound" src="../../assets/sound/Applause/boo.mp3"></audio>
    </a-assets>
        

        <ng-container *ngFor="let o of drpo">
          <ng-container *ngIf="o.options.toggled == true">
            <a-box *ngIf="o.type == 'box'"
                    [id]="o.uid"
                    [attr.width]="o.form.width"
                    [attr.height]="o.form.height" 
                    [attr.depth]="o.form.depth"  
                    [attr.material]="'src: #'+o.uid+'-mtl'" 
                    [attr.color]="o.appearance.color" 
                    [attr.position]="(o.position[0].x != null ? o.position[0].x : '')+' '+(o.position[0].y != null ? o.position[0].y : '')+' '+(o.position[0].z != null ? o.position[0].z : '')"
                    [attr.rotation]="(o.rotation[0].x != null ? o.rotation[0].x : '')+' '+(o.rotation[0].y != null ? o.rotation[0].y : '')+' '+(o.rotation[0].z != null ? o.rotation[0].z : '')"
                    [attr.scale]="(o.scale[0].x != null ? o.scale[0].x : '')+' '+(o.scale[0].y != null ? o.scale[0].y : '')+' '+(o.rotation[0].z != null ? o.rotation[0].z : '')"
                    >     
            </a-box>

            <a-plane *ngIf="o.type == 'plane'"
                    [id]="o.uid"
                    [attr.width]="o.form.width"
                    [attr.height]="o.form.height" 
                    [attr.depth]="o.form.depth"  
                    [attr.material]="'src: #'+o.uid+'-mtl'" 
                    [attr.color]="o.appearance.color" 
                    [attr.position]="(o.position[0].x != null ? o.position[0].x : '')+' '+(o.position[0].y != null ? o.position[0].y : '')+' '+(o.position[0].z != null ? o.position[0].z : '')"
                    [attr.rotation]="(o.rotation[0].x != null ? o.rotation[0].x : '')+' '+(o.rotation[0].y != null ? o.rotation[0].y : '')+' '+(o.rotation[0].z != null ? o.rotation[0].z : '')"
                    [attr.scale]="(o.scale[0].x != null ? o.scale[0].x : '')+' '+(o.scale[0].y != null ? o.scale[0].y : '')+' '+(o.rotation[0].z != null ? o.rotation[0].z : '')"
                    >     
            </a-plane>
          </ng-container>
        </ng-container>

    
      
  

        <!--Kamera-->
        <a-entity position="0.7 1 6" id="Kamera">
          <a-camera>
            <!--<a-box height="1" depth="1" width="1" color="black" position="1 1 1">          
            </a-box>-->
            <a-entity cursor="fuse: true; fuseTimeout: 0"
              position="0 0 -1"
              geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03"
              material="color: white; shader: flat">
            </a-entity>
          </a-camera>   
        </a-entity>

    

        <a-light id="the_spot" type="spot" color="#FFF" position="0 10 0" [attr.intensity]="intensity" >
          <!--<a-animation attribute="intensity" to="0.5" begin="4000" dur="3000"></a-animation>-->
        </a-light>
       
        <!--Allgemeines Licht-->
        <a-light type="ambient" color="#FFF" [attr.intensity]="intensity" >
          <!--<a-animation attribute="intensity" to="0.4" dur="5000"></a-animation>-->
        </a-light>
      </a-scene>